@import url(./style.css);
@import url(./hse_user_page.css);

.user-page__filed_pass {
    width: 708.65px;
    border-radius: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.password-field {
    display: flex;
}

.show-pass {
    background-color: #fff;
    height: 40px;
    width: 44px;
    border: 1px solid #8C8C8C;
    border-left: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin: 7px 0;
}

.show-pass__img {
    margin: 11px;
}








