@import url(./style.css);
@import url(./form_style.css);

/* VISIBLE WINDOW */
.doc-list-container {
    margin-left: 100px;
    width: calc(100vw - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doc-list__content {
    width: 100%;
    height: 72px;
    margin-top: 115px; 
    padding: 15px 30px;
    background-color: #f5f8fb;
}
/* VISIBLE WINDOW */


/* HEAD PANEL */
.doc-list__head-panel {
    display: flex;
    justify-content: space-between;
}

.doc-list__buttons {
    display: flex;
    gap: 20px;
}

.button-general {
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
}

.go-back-button {
    width: 66px;
    height: 23px;
    background-color: #E2E2E2;
    padding: 5px 16px;
}

.create-doc-button {
    width: 120px;
    height: 25px;
    background-color: #BB3232;
    color: white;
}

.create-doc-button:hover {
    background-color: #b71908;
}

.doc-list__search-row {
    display: flex;
    align-items: center;
    gap: 13px;
}
    
.doc-filter__search {
    width: 190px;
    height: 30px;
    background: #FDFDFD;
    border: 2px solid #3273AE;
    background-image: url(../images/header-search-icon.svg);
    background-repeat: no-repeat;
    background-position: 165px 5px;
    padding: 0px 10px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
}

.doc-filter__add {
    width: 70px;
    height: 30px;
    color: white;
    background: #BB3232;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
}

.doc-list__filter {
    cursor: pointer;
}

.filter-popup {
    visibility: hidden;
    position: absolute;
    width: 450px;
    height: fit-content;
    top: 189px;
    background: #F5F5F5;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.25);
    z-index: 5;
    padding: 17px 22px;

}

.show {
    visibility: visible;
}

.filter-title {
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    color: #3273AE;
}

.filter-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filter-button {
    width: 75px;
    height: 25px;
    background-color: #BB3232;
    color: white;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    align-self: flex-end;
}
/* HEAD PANEL */


/* DOCUMENTS TABLE */
.doc-table {
    font-size: 12px;
    line-height: 14px;
    min-width: 100%;
    cursor: pointer;
}

@media screen and (max-width: 1388px) {
    .filter-popup {
        left: 62.5%;
    }
}

@media screen and (min-width: 1388px) and (max-width: 1920px) {
    .doc-table__row td {
        max-width: 200px;
    }

    .filter-popup {
        left: 70%;
    }
}

.doc-table  th, td {
    padding: 10px;
}

.doc-table th, td:first-child {
    padding-left: 30px;
}

.doc-table__row_titles {
    color: #3273AE;
    font-weight: 600;
    background-color: #f5f8fb;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

.doc-table__row {
    border-bottom: 1px solid rgba(125, 125, 125, 0.3); 
}

.doc-table__row:hover {
    color: #3273AE;
}
/* DOCUMENTS TABLE */



